<?xml version="1.0" ?>
<robot name="plane_box">

  <material name="transparent">
    <color rgba="0. 0. 0. 0.0"/>
  </material>

  <link name="world"/>

  <link name="plane_box_link">
    <visual>
      <geometry>
        <box size="1000. 1000. 0.001"/>
      </geometry>
      <material name="transparent"/>
    </visual>

    <collision>
      <geometry>
        <box size="5. 5. 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic/>
        <drake:hydroelastic_modulus value="1e7"/>
        <drake:hunt_crossley_dissipation value="5."/>
        <drake:mu_dynamic value="0.8"/>
      </drake:proximity_properties>
    </collision>

  </link>

  <joint name="joint_plane_to_world_weld" type="fixed">
    <parent link="world"/>
    <child link="plane_box_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
